@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,form{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 '\5FAE\8F6F\96C5\9ED1','\5b8b\4f53',tahoma,arial;}

h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol{list-style:none;}
a{ text-decoration: none;}
a:hover{color: #08c;}


/*头部*/
.homeHeader{
  background-color: #2C2F33;
  height: 52px;
  overflow: hidden;
}
.headerMain{
  width: 1000px;
  margin: 0 auto;
}
.logo{
  height: 20px;
  margin-top: 16px;
  float: left;
}
.headerBoder{
  color: white;
  font-style: normal;
  font-size: 20px;
  line-height: 52px;
  margin: 0 10px;
  opacity: 0.8;
}
.headerTitle{
  color: white;
  font-style: normal;
  font-size: 14px;
  line-height: 54px;
  opacity: 0.8;
}
.HeaderNavListWarp{
  display: inline;
  color: #fff;
}
.HeaderNavListWarp li{
  display: inline;
  font-size: 14px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 10px 15px;
  margin-left: 4px;
  line-height: 52px;
}
.login{
  width: 340px;
  float: right;
  line-height: 52px;
  color: #fff;
  opacity: 0.8;
  text-align: right;
}
.login a{
  color: #fff;
}

/*homeMain*/
.homeMain{
  position: relative;
  height: 478px;
  width: 100%;
  overflow: hidden;
  font-family: PingFangSC-Regular;
}
.mainImg{
  vertical-align: middle;
  width: 100%;
}
.mainBg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31,56,88,0.40);
}
.mainBodyWarp{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 100%;
}
.mainBody{
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
.mainBody p{
  font-size: 54px;
  color: #fff;
  line-height: 56px;
  font-family: -webkit-pictograph;
}
.mainBody p:last-of-type{
  font-size: 34px;
  color: #fff;
  margin-bottom: 38px;
  line-height: 48px;
}
.search{
  width: 490px;
  height: 60px;
  position: relative;
  background: none;
}
.searchBg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.1;
  z-index: -1;
}
.searchInput{
  width: 348px;
  height:  40px;
  border-radius: 3px;
  padding-top: 6px;
  margin-top: 6px;
  margin-left: 10px;
  padding: 0 10px;
  border: none;
  outline: none;
}
.searchBtn{
  color: #fff;
  background: #F37327;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  width: 92px;
  height: 40px;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.searchInput::-webkit-input-placeholder {
  color: rgba(31,56,88,0.30);
  font-size: 14px;
}
.hotSearch{
  color: rgba(255,255,255,0.80);
  text-align: center;
  margin-top: 10px;
}
.hotSearch li{
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}
.hotSearch li:hover{
  color: #F37327;
}
.homeContent{
  height: 483px;
  width: 100%;
  overflow: hidden;
}
.contentWarp{
  width: 1180px;
  height: 300px;
  margin: 32px auto;
}
.newPositionWarp{
  width: 850px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(31,56,88,0.08);
}
.aLiBaBa{
  float: right;
  width: 310px;
  height: 300px;
}
.aLiBaBa div{
  text-align: center;
  line-height: 140px;
  box-shadow: 0 0 15px 0 rgba(31,56,88,0.08);
  margin-bottom: 20px;
  cursor: pointer;
}
.aLiBaBa div img{
  vertical-align: middle;
}

.footer{
  height: 44px;
  width: 100%;
  line-height: 44px;
  text-align: center;
  background-color: #2C2F33;
}
.footer span{
  color: #fff;
  opacity: 0.4;
}

.positionList{
  position: relative;
}
.positionList li{
  line-height: 50px;
  overflow: hidden;
  padding: 0 15px;
  font-size: 14px;
  display: flex;
}
.positionList div{
  position: relative;
  background: #fff;
  line-height: 50px;
  overflow: hidden;
  padding: 0 15px;
  font-size: 14px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}